


      <%= form_with(model: article, local: true) do |form| %>
        <% if article.errors.any? %>
            <div class="alert alert-danger  col-xs-offset-2" role="alert">
                <h2 class="alert-heading">
<!--           <div id="error_explanation"> -->
                <%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button></h2>
                <hr/>
                  <ul>
                    <% article.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                  </ul>         
<!--           </div>  -->            
        </div>
      <% end %>


    <div class="col-xs-12">
      <div class= "form-group row">
        <div class="colntrol-label col-sm-2 ">
           <%= form.label :title , style: "font-weight:bold" %>
        </div>
        <div class="col-sm-8">      
          <%= form.text_field :title ,class: "form-control", placeholder: "Title of Article...", autofocus: true %>
        </div>
      </div>
        <div class= "form-group row">
        <div class="colntrol-label col-sm-2 ">
          <%= form.label :description ,style: "font-weight:bold" %>
        </div>
        <div class="col-sm-10">
           <%= form.text_area :description, rows: 10, class: "form-control", placeholder: "Body of Article..." %>
        </div>
        </div>
        <div class= "form-group row">
          <div class="col-sm-2">
            <%= form.submit class:"btn btn-primary btn-lg", title:"Save" %>
          </div>
        </div>
      </div>

<% end %>
