
<p id="notice">
<%= notice %> 
</p>
<h1 class="display-5" align="center"><%= @user.username %> profile</h1>
<div class="display-5" align="center" >
	<% if logged_in? && @user == current_user %>
		<%= link_to "Edit Profile" , edit_user_path(@user), class:"btn btn-primary btn-lg" %> 
	<% end %>
</div>
<br>
<h3 class="display-5" align="center">Articles</h3>

     
  <div class= "list-group" align="center">
    <% @articles.each do |article| %>
     <div class="list-group-item list-group-item-action", align="center">

        <div class="title">
          <%=link_to article.title, article_path(article) ,id:"title"%>
        </div>

        <hr/>
        <div class="card-body">
          <%= truncate(article.description, length: 100)%><br><br>
<!--            this method gives a nice format to display the time -->
           <!-- truncate method= display only part of it -->
        </div><br><br>
  
        <div class="btn" align="right">
          <%= link_to 'View  ', article_path(article), class: "btn btn-primary "%>

          <% if logged_in? && article.user == current_user %>

          <%= link_to 'Edit  ', edit_article_path(article), class: "btn btn-primary "%>
          <%= link_to 'Delete', article , class: "btn btn-secondary ", method: :delete, data: { confirm: 'Are you sure?' }%>
          <% end %>
        </div>

        <div class="auther-meta-details">
          <p>Created by: <%=article.user.username if article.user %>,
            <%= time_ago_in_words(article.created_at)%> ago,
            last updated: <%= time_ago_in_words(article.updated_at)%> ago
          </p>
        </div>
        <br/>

       </div>
    <% end %>
  </div>
<br>
<% if logged_in? && @user == current_user %>
	<%= link_to 'New Article',  new_article_path , id:"btn", class:"btn btn-primary btn-lg"%>
<%end %>
